.page.theme_dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #F1B2CE;
  --button-color: #FF0070;
  --button-border-color: rgba(255, 0, 112, 0.40);
  --page-title-color: #DB00FF;
  --accent-color: #FF0070;
  --section-title-color: #FF0070;
  --title-decor: #000028;
  --shadow-color: #FF0070;
  --link-shadow-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --text-color: #F1B2CE;
    --button-color: #FF0070;
    --button-border-color: rgba(255, 0, 112, 0.40);
    --page-title-color: #DB00FF;
    --accent-color: #FF0070;
    --section-title-color: #FF0070;
    --title-decor: #000028;
    --shadow-color: #FF0070;
    --link-shadow-color: #FF0070;
    }
}