.page.theme_light {
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --button-color: #353430;
  --button-border-color: rgba(50, 49, 45, 0.40);
  --page-title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --section-title-color: #353430;
  --title-decor: #353430;
  --link-shadow-color: #FF8DCB;
}

.page.theme_light .header__decor {
  display: none;
}



@media (prefers-color-scheme: light) {
  :root {
      --bg-color: #FFF1F7;
      --bg-image: url(../images/cover-image-light.png);
      --text-color: #353430;
      --button-color: #353430;
      --button-border-color: rgba(50, 49, 45, 0.40);
      --page-title-color: #FFC2E6;
      --accent-color: #FF8DCB;
      --section-title-color: #353430;
      --title-decor: #353430;
      --link-shadow-color: #FF8DCB;
    }
  .page.theme_auto .header__decor {
    display: none;
  }
}