:root {
  --background-image: var(--bg-image, url("../images/cover-image-dark.png"));
  --accent-color: var(--accent-color, #ff0070);
  --accent-color-opacity: var(--button-hover-border, #ff007066);
  --text-color: var(--main-text-color, #f1b2ce);
  --decoration-color: var(--accent-color, #ff0070);
  --background-color: var(--bg-color, #000028);
  --header1-color: var(--main-header-color, #db00ff);
  --header2-color: var(--section-header-color, #ff0070);
  --header3-color: var(--article-header-color, #000028);
  
  --font-family: 'IBM Plex mono', monospace;
  --regular-font-size: 18px;
  --small-line-height: 83%;
  --regular-line-height: 100%;
  --large-line-height: 130%;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --font-style: normal;
  --is-light: visible;
}

